<h1 (click)="sayHello()">alert comp: press for logging content projection</h1>
<h3>Input name is: {{name}}</h3>
<h3>alert comp: this is a reusable component using (((content projection)))</h3>
<ng-content/> <!-- first element: <p #hamada>external content from about component (((content projection)))</p> -->

<h3 #internalElement>alert comp: you can ((select)) specefic elements like h2</h3>
<ng-content select="h2" />

<h3>alert comp: select group</h3>
<ng-content select="h2,h3" />
<!-- when selecting element using "content projection" >>> you can't select it multiple times >>> see output to notice h2, h3 are not in the 1st block -->


<button (click)="showFaculty()">Log faculty</button>