<div class="page">
  <div class="card">
    <h2>Register (Reactive Forms)</h2>
    <p class="subtitle">
      Full example: FormGroup, Validators, FormArray, custom validation, loading state.
    </p>

    <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">

        <div class="field">
            <label>Email</label>
            <input
            type="text"
            formControlName="email"
            placeholder="e.g. a@a.a"
            />
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){

                @if(registerForm.get('email')?.getError("required")){
                    <small class="error" >
                    email is required
                    </small>
                }
                @else if(registerForm.get('email')?.getError("email")){
                    <small class="error" >
                    Enter valid email
                    </small>
                }
            }
        </div>

        <div class="field">
            <label>Password</label>
            <input
            type="text"
            formControlName="password"
            placeholder="password..."
            />
            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){

                @if(registerForm.get('password')?.getError("required")){
                    <small class="error" >
                    password is required
                    </small>
                }
                @else if(registerForm.get('password')?.getError("pattern")){
                    <small class="error" >
                    min 8 chars + 1 uppercase + 1 number
                    </small>
                }
            }
        </div>

        <div class="field">
            <label>repeatPassword</label>
            <input
            type="text"
            formControlName="repeatPassword"
            placeholder="repeatPassword..."
            />
            @if(registerForm.get('repeatPassword')?.errors && registerForm.get('repeatPassword')?.touched){

                @if(registerForm.get('repeatPassword')?.getError("required")){
                    <small class="error" >
                    repeatPassword is required
                    </small>
                }
                @else if(registerForm.get('repeatPassword')?.getError("pattern")){
                    <small class="error" >
                    min 8 chars + 1 uppercase + 1 number
                    </small>
                }
            }
            <!-- for cutom validation -->
            @if(registerForm.getError('mismatch') && registerForm.get('repeatPassword')?.touched){
                <small class="error" >
                    -------------- Mismatch
                </small>
            }
        </div>

        <!-- nested form group -->
        <div formGroupName="address">
            <div class="field">
                <label>City</label>
                <input
                    type="text"
                    formControlName="city"
                    placeholder="e.g mansoura"
                />
                @if(registerForm.get('address.city')?.errors && registerForm.get('address.city')?.touched){
                    @if(registerForm.get('address.city')?.getError("required")){
                        <small class="error">city is required</small>
                    }
                }
            </div>
            <div class="field">
                <label>streetName</label>
                <input
                    type="text"
                    formControlName="streetName"
                    placeholder="e.g asjldhasd"
                />
                @if(registerForm.get('address.streetName')?.errors && registerForm.get('address.streetName')?.touched){
                    @if(registerForm.get('address.streetName')?.getError("required")){
                        <small class="error">streetName is required</small>
                    }
                }
            </div>
            <div class="field">
                <label>buildNumber</label>
                <input
                    type="text"
                    formControlName="buildNumber"
                    placeholder="e.g 12"
                />
                @if(registerForm.get('address.buildNumber')?.errors && registerForm.get('address.buildNumber')?.touched){
                    @if(registerForm.get('address.buildNumber')?.getError("required")){
                        <small class="error">buildNumber is required</small>
                    }
                }
            </div>
        </div>

        <!-- form array -->
        <div formArrayName="employees" class="field">
            <button type="button" class="btn btn--ghost" (click)="addEmployee()">
                + Add Employee
            </button>

            @for(emp of employees.controls; track $index){
                <div [formGroupName]="$index" style="display: flex; align-items: center; gap: 2%;">
                    <div class="field">
                        <label>Employee Name</label>
                        <input type="text" formControlName="empName" placeholder="e.g. Ahmed" />
                        @if(employees.at($index).get("empName")?.errors && employees.at($index).get("empName")?.touched){
                            @if(employees.at($index).get("empName")?.getError('required')){
                                <small class="error">employee name is required</small>
                            }
                        }
                    </div>
                    <div class="field" style="width: 40%;">
                        <label>Employee Number</label>
                        <input type="text" formControlName="empNumber" placeholder="e.g. Ahmed" />
                        @if(employees.at($index).get("empNumber")?.errors && employees.at($index).get("empNumber")?.touched){
                            @if(employees.at($index).get("empNumber")?.getError('required')){
                                <small class="error">employee number is required</small>
                            }
                        }
                    </div>
                    <button type="button" class="btn btn--danger" (click)="removeEmployee($index)" [disabled]="employees.length === 1">
                        Remove
                    </button>
                </div>
            }
        </div>  


      

      <div class="actions">
        <button class="btn btn--primary" type="submit" [disabled]="isLoading">
          <span>Submit</span>
          @if(isLoading){
            <span class="fas fa-spin fa-spinner"></span>
          }
        </button>
        <button class="btn btn--ghost" type="button" (click)="resetForm()">
          Reset
        </button>

    </div>

    </form>
  </div>
</div>
